<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="ERROR" strict="true">
    <Properties>
        <property name="APP_NAME" value="leech"/>
        <property name="LOG_PATH" value="${log.dir:-./logs}"/>
        <property name="LOG_FILE" value="${LOG_PATH}/application.log"/>
        <property name="SERVICE_LOGGER_FILE" value="${LOG_PATH}/info.log"/>
        <property name="LOG_ERROR_NAME_FILE" value="${LOG_PATH}/error.log"/>
        <property name="LOG_ENCODER_PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %p %c %msg%n"/>
    </Properties>


    <Appenders>
        <Console name="STDOUT">
            <Layout type="PatternLayout" pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] %l %m%n"/>
        </Console>
        <RollingFile name="INFO" fileName="${SERVICE_LOGGER_FILE}" filePattern="logs/info-%d{MM-dd-yyyy}-%i.gz">
            <Layout type="PatternLayout" pattern="${LOG_ENCODER_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <RollingFile name="ERROR" fileName="${LOG_ERROR_NAME_FILE}" filePattern="logs/error-%d{MM-dd-yyyy}-%i.gz">
            <Layout type="PatternLayout" pattern="${LOG_ENCODER_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="INFO"/>
            <AppenderRef ref="ERROR"/>
        </Root>
    </Loggers>
</Configuration>